/* structure css code */

.card-group {
  width: 98%;
  height: 300px;
  position: relative;
  margin: 5px auto;
  cursor: pointer;
}

.card-group .front {
  position: absolute;
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
  line-height: 300px;
  color: $primary;
  width: 100%;
  height: 100%;
  background-position: center;
  backface-visibility: hidden;
  background-color: $secondary;
  background-blend-mode: exclusion;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.55s linear;
}

.card-group .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $secondary;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  transition: transform 0.55s linear;
  text-align: left;
  padding: 2em;
  color: $neutral;

  .project-title {
    font-weight: bolder;
    color: $primary;
    font-size: 1.5em;
    text-align: center;
  }
  .technology {
    text-align: center;
    margin: 0.5em auto;
    font-weight: bolder;
  }
  .icon {
    text-align: center;
    font-size: 30px;
    margin-top: 1em;
    a {
      text-decoration: none;
      color: $blue;
      margin: 0.5em;
      transition: all 0.5s ease-out;
      &:hover {
        color: $primary;
      }
    }
  }
}

.card-group:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card-group:hover .back {
  transform: perspective(600px) rotateY(0deg);
}
