/* structure css code */

.card-group {
  width: 98%;
  height: 300px;
  position: relative;
  margin: 5px auto;
  cursor: pointer;
}

.card-group .front {
  position: absolute;
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
  line-height: 300px;
  color: $secondary;
  width: 100%;
  height: 100%;
  background-position: center;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.55s linear;
}

.card-group .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primary;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  transition: transform 0.55s linear;
  text-align: left;
  padding: 6px;
  .title {
    font-weight: bolder;
  }
  .technology {
    text-align: center;
    margin: 0.5em auto;
    font-weight: bolder;
  }
  .icon {
    text-align: center;
    font-size: 30px;
    a {
      text-decoration: none;
      color: lighten($color: $secondary, $amount: 10);
      margin: 0.5em;
      transition: all 0.5s ease-out;
      &:hover {
        font-size: 35px;
        color: $secondary;
      }
    }
  }
}

.card-group:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card-group:hover .back {
  transform: perspective(600px) rotateY(0deg);
}
