.content {
  .context {
    width: 100%;
    position: absolute;
    top: 40vh;
    padding: 0 5%;
    font-size: 3em;
    color: $neutral;

    .arrow {
      position: absolute;
      top: 25vh;
      left: 0;
      padding: 0.5em 1em;
      z-index: 5;

      img {
        animation: font 2s ease-out;
        color: $neutral;
        font-size: 70px;
        animation-iteration-count: infinite;
      }

      img:hover {
        color: $primary;
      }

      @keyframes font {
        from {
          margin-top: 0.5em;
        }
        to {
          margin-top: 0.3em;
          opacity: 1;
        }
      }
    }
    .name-text {
      margin-bottom: 0.5em;
    }
    .text {
      p {
        overflow: hidden;
        color: $neutral;
        .typed-text {
          color: $primary;
          font-weight: bold;
        }

        .cursor {
          display: inline-block;
          background-color: #cccccc;
          width: 3px;
          animation: blink 1s infinite;
          .typing {
            animation: none;
          }
        }
      }
    }
  }

  .area {
    background-image: radial-gradient(
      circle farthest-corner at 16.5% 28.1%,
      $secondary 0%,
      $blue 90%
    );
    width: 100%;
    height: 100vh;
  }

  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: $blue;
    background-position: center;
    animation: animate 25s linear infinite;
    bottom: -150px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .content {
    .context {
      margin-left: 0;
      font-size: 2em;
    }
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
