footer {
  background: $secondary;
  clip-path: polygon(
    0 0,
    35% 11%,
    35% 0%,
    65% 0%,
    65% 11%,
    100% 0,
    100% 57%,
    100% 100%,
    65% 100%,
    35% 100%,
    0 100%,
    0 42%
  );
  color: $neutral;
  .title {
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
    color: $neutral;
    .underline {
      height: 0.25rem;
      width: 5rem;
      background: $neutral;
      margin: 0.3em auto;
      border-radius: 5px;
    }
  }
  background-color: lighten($color: $secondary, $amount: 20);

  .footer-1 {
    display: grid;
    grid-template-columns: 60% 40%;

    padding: 0 5%;
  }

  .footer-2 {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2em 0;
    background-color: $secondary;
    text-align: center;
    span {
      color: $primary;
    }

    .social-media {
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;

      a {
        color: $neutral;
        background: lighten($color: $secondary, $amount: 10);
        padding: 0.5em;
        text-align: center;
        width: 50px;
        margin: 0 1em;
      }
      a:hover {
        background: $primary;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  footer {
    .footer-1 {
      .div {
        width: 90%;
      }
    }
    .footer-2 {
      width: 100%;
    }
  }
}
