footer {
  padding-top: 5em;
  background: $secondary;

  clip-path: polygon(
    19% 4%,
    0 0,
    0 49%,
    0 100%,
    20% 100%,
    37% 100%,
    80% 100%,
    100% 100%,
    100% 55%,
    100% 0,
    80% 5%,
    50% 11%
  );
  color: $neutral;
  .title {
    margin: 1.5em auto 2em;
    text-align: center;
    font-size: 1.5em;
    color: $neutral;
    .underline {
      height: 0.25rem;
      width: 5rem;
      background: $neutral;
      margin: 0.3em auto;
      border-radius: 5px;
    }
  }
  background-color: lighten($color: $secondary, $amount: 20);

  .footer-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 0 5%;
    margin: 1em auto;

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2em;
      input,
      textarea {
        padding: 1em;
        border: none;
        outline: none;
      }
      .name {
        width: 95%;
        justify-self: flex-start;

        input {
          width: 100%;
          height: 40px;
        }
      }
      .email {
        width: 95%;
        justify-self: flex-end;

        input {
          width: 100%;
          height: 40px;
        }
      }
      .textarea {
        grid-column: 1/4;
        width: 100%;
        textarea {
          width: 100%;
          height: 100px;
        }
      }
      button {
        padding: 1em 0;
        width: 150px;
        text-align: center;
        background: $primary;
        border: none;
        outline: none;
        color: $blue;
        font-size: 1em;
        transition: all 0.5s ease-out;
        &:hover {
          background-color: $secondary;
        }
      }
    }
    & > div {
      width: 100%;
      margin-left: 1em;
      & > div {
        margin-bottom: 1em;
        p {
          font-weight: bolder;
          color: $primary;
          font-size: 20px;
        }
      }
    }
  }

  .footer-2 {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 1em 0;
    background-color: $secondary;
    text-align: center;
    span {
      color: $primary;
    }

    .social-media {
      width: 100%;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;

      a {
        color: $neutral;
        background: lighten($color: $secondary, $amount: 10);
        padding: 0.4em 0.3em;
        text-align: center;
        width: 45px;
        margin: 0 1em;
      }
      a:hover {
        background: $primary;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  footer {
    .footer-1 {
      form {
        margin: 1em auto;
        row-gap: 0.8em;
      }
      grid-template-columns: 100%;
      & > div {
        margin-top: 2em;
        margin-left: 0;
      }
    }
  }
}
