#project {
  padding: 4em 5% 4em;
  background-color: darken($color: $neutral, $amount: 20%);

  .project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  #project {
    padding: 0 5%;
    .project {
      display: grid;
      grid-template-columns: 100%;
    }
  }
}
