.content {
  padding: 0 5%;
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../imgs/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: $neutral;

  .arrow {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 1em;
    z-index: 5;

    i {
      animation: font 2s ease-out;
      color: $neutral;
      font-size: 70px;
      animation-iteration-count: infinite;
    }

    i:hover {
      color: $primary;
    }

    @keyframes font {
      from {
        opacity: 0.3;
      }
      to {
        opacity: 1;
      }
    }
  }

  .text {
    p {
      font-size: 3rem;
      padding: 0.5rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-align: center;
      overflow: hidden;

      .typed-text {
        font-size: 50px;
        color: $primary;
        font-weight: bold;
      }

      .cursor {
        display: inline-block;
        background-color: #ccc;
        margin-left: 0.1rem;
        width: 3px;
        animation: blink 1s infinite;
        .typing {
          animation: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .content {
    background-image: url(../../../imgs/tablet.svg);
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
