.content {
  padding: 0 5%;
  height: 100vh;
  width: 100%;
  background-image: url("../../../imgs/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: $neutral;
  clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 75% 90%, 0 100%, 0 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & > div {
    margin-left: 50%;
    font-size: 3rem;
    color: $neutral;
    .name-text {
      color: $neutral;
    }
    .arrow {
      position: absolute;
      top: 70%;
      left: 70%;
      transform: translateX(-10%);
      padding: 0.5em 1em;
      z-index: 5;

      img {
        animation: font 2s ease-out;
        color: $neutral;
        font-size: 70px;
        animation-iteration-count: infinite;
      }

      img:hover {
        color: $primary;
      }

      @keyframes font {
        from {
          margin-top: 0.5em;
        }
        to {
          margin-top: 0.3em;
          opacity: 1;
        }
      }
    }

    .text {
      p {
        text-align: center;
        overflow: hidden;
        color: $neutral;
        .typed-text {
          color: $primary;
          font-weight: bold;
        }

        .cursor {
          display: inline-block;
          background-color: #cccccc;
          width: 3px;
          animation: blink 1s infinite;
          .typing {
            animation: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .content {
    background-image: url(../../../imgs/tablet.svg);

    & > div {
      margin-left: 0;
      font-size: 2em;
    }
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
