.progress-wrapper {
  width: 100%;
  margin: 0 auto 0.5em;
  height: max-content;
  display: grid;
  grid-template-columns: 20% 80%;
  border: 1px solid darken($color: $neutral, $amount: 10);

  .name {
    background-color: lighten($color: $secondary, $amount: 20);
    text-align: center;
    padding: 0.4em;
    color: $neutral;
  }

  [data-size="75"] {
    width: 75%;
  }
  [data-size="60"] {
    width: 60%;
  }
  [data-size="70"] {
    width: 70%;
  }
  [data-size="90"] {
    width: 90%;
  }
  [data-size="65"] {
    width: 65%;
  }

  .bar {
    text-align: right;
    padding: 0.3em;
    background: radial-gradient($primary, $secondary 20%);
    animation-name: width;
    animation-duration: 2s;
    color: $neutral;
    animation-iteration-count: infinite;
  }

  @keyframes width {
    to {
      background: radial-gradient($primary, $secondary 60%);
    }
  }
}
