.progress-wrapper {
  width: 100%;
  margin: 1em auto;
  height: max-content;
  display: grid;
  grid-template-columns: 20% 80%;
  border: 1px solid darken($color: $neutral, $amount: 10);

  .name {
    background-color: lighten($color: $secondary, $amount: 20);
    text-align: center;
    padding: 0.4em;
    color: $neutral;
  }
}
